* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_9 {
  width: 784px;
  height: 634px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 249px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 20px;
  left: 267px;
  text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  font-family: Racing Sans One;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v1_4 {
  width: 722px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 265px;
  left: 31px;
  text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  font-family: Racing Sans One;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1_5 {
  width: 584px;
  color: rgba(238,180,114,1);
  position: absolute;
  top: 544px;
  left: 100px;
  text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
  font-family: Racing Sans One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
}
